{% comment %} Set default sizes if not provided {% endcomment %}
{% assign final_sizes = include.sizes | default: "(min-width: 768px) 600px, 100vw" %}

<div class="grid-12 text-img-gap">
  <figure class="col-6 order-{{ include.image_order | default: '1' }}">
      <img src="{{ include.image | relative_url }}"
           {% if include.srcset %}srcset="{{ include.srcset }}"{% endif %}
           {% if include.srcset %}sizes="{{ final_sizes }}"{% endif %}
           alt="{{ include.alt | default: '' }}"
           class="{{ include.class | default: 'img' }}">
      {% if include.caption %}
        <figcaption>{{ include.caption | markdownify | remove: '<p>' | remove: '</p>' }}</figcaption>
      {% endif %}
  </figure>
  <div class="col-6 order-{{ include.text_order | default: '2' }}">
    {{ include.text | markdownify }}
  </div>
</div>
