---
layout: null
---
{%- comment -%}
POINTER-SYSTEM: Dieses Layout liest Daten aus der Markdown-Datei
Unterstützt zwei Modi:
1. Legacy-Modus: Daten direkt im TTL-Frontmatter (page.*)
2. Pointer-Modus: Verweis auf MD-Datei (page.source)
{%- endcomment -%}

{%- if page.source -%}
  {%- assign twg = site.twgs | where: "translation_key", page.source | first -%}
{%- else -%}
  {%- assign twg = page -%}
{%- endif -%}

{%- if twg.twg_id -%}
  {%- assign twg_id = twg.twg_id -%}
{%- else -%}
  {%- assign twg_id = twg.translation_key | remove: "twg-" | replace: "-", "_" -%}
{%- endif -%}

@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix nfdicore: <https://nfdi.fiz-karlsruhe.de/ontology#> .
@prefix n4o: <https://nfdi4objects.net/ontology#> .

<https://nfdi4objects.net/twgs/{{ twg_id }}/{{ twg_id }}>
    rdf:type n4o:Organization ;
    skos:prefLabel "{{ twg.title }}"@{{ twg.lang }} ;
    {%- if twg.description %}
    skos:definition "{{ twg.description | strip_html | escape }}"@{{ twg.lang }} ;
    {%- endif %}
    {%- if twg.identifier %}
    dcterms:identifier "{{ twg.identifier }}" ;
    {%- endif %}
    {%- if twg.status %}
    n4o:status "{{ twg.status }}" ;
    {%- endif %}
    {%- if twg.date %}
    dcterms:date "{{ twg.date }}"^^xsd:date ;
    {%- endif %}
    {%- if twg.logo %}
    foaf:logo "{{ twg.logo }}" ;
    {%- endif %}
    {%- assign current_lang = twg.lang | default: "de" -%}
    {%- assign persons_collection = site.persons | where: "lang", current_lang -%}
    {%- assign twg_members = "" | split: "" -%}
    {%- for person in persons_collection -%}
        {%- if person.areas contains twg_id -%}
            {%- assign twg_members = twg_members | push: person -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if twg_members.size > 0 -%}
    foaf:member
        {%- for person in twg_members -%}
        <https://nfdi4objects.net/persons/{{ person.translation_key | remove: "person-" | replace: "-", "_" }}/{{ person.translation_key | remove: "person-" | replace: "-", "_" }}>{%- unless forloop.last -%},{%- else -%} .{%- endunless -%}
        {%- endfor -%}
    {%- else -%}
    .
    {%- endif -%}
